@{
    ViewBag.Title = "Home Page";
}
<!-- Starting banner -->
<!-- Font awesome -->
<!-- Main style sheet -->
<div id="banner" class="banner full-screen-mode parallax">
    <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">
                        <h1>
                            Dinner with
                            <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="Friends:Family:Officemates" data-colors="red"></span>
                            <span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span>
                        </h1>
                        <a href="#about">
                            <div class="mouse"></div>
                        </a>
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
</div>
<!-- end banner -->
<!-- Starting about -->

<div id="about" class="about-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h1 class="block-title"> About James Thew</h1><br />


                    <div class="col-md-6 banner-bottom-grid-1 wow fadeInLeftBig" data-wow-duration="1500ms" data-wow-delay="100ms">

                    </div>

                    <div class="block-title" style="color:#E55920">


                        <p style="font-size:medium">
                            James Thew is one of the famous cook working in one of the five star hotels in the city. He is so famous that the publishers approach him to write recipes book, and provide some of the tips pertaining to the recipes, etc. Also some of the producers want him to work for their recipe shows where he needs to cook two or three recipes of different categories like juices, non-vegetarian and vegetarian recipes, Italian recipes, etc.
                        </p>
                        <p style="font-size:medium">
                            He actually loves cooking, and during his free time he spends his time by cooking and trying out new recipes that he had come across. He also wanted to conduct the cookery classes and share his recipes where he can interact with different people and can get their feedback. So he has started the classes near by his home, as a part-time job during the weekends, where people used to attend for learning the different varieties of recipes from him. He generally charges with very less fares for these weekend classes, so as to attract the maximum number of people to the classes.
                        </p>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-md-6 banner-bottom-grid-1 wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="banner-bottom-grid-9">
                    <img src="~/Content/images/Chef.jpg" alt="" style="height:500px;width:500px;margin-left:auto" class="img-responsive" />

                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end About -->
<!-- Starting special-menu -->
<div class="special-menu pad-top-100 parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title color-white text-center"> Today's Special </h2>
                </div>
                <div class="special-box">
                    <div id="owl-demo">
                        <div class="item item-type-zoom">
                            <a href="@Url.Action("Index","Recipes")" class="item-hover">
                                <div class="item-info">
									<div class="headline">
										Creamiest Steel Cut Oats
										<div class="line"></div>
										<div class="dit-line">Learn How To Make The Creamiest Steel Cut Oats And Much More.</div>
									</div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="~/Content/images/Creamiest.jpg" alt="sp-menu" style="height:342px">
                            </div>
                        </div>
                        <div class="item item-type-zoom">
                            <a href="@Url.Action("Index","Recipes")" class="item-hover">
                                <div class="item-info">
									<div class="headline">
										Delicious Pavlova
										<div class="line"></div>
										<div class="dit-line">Learn How To Make The Delicious Pavlova And Much More.</div>
									</div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="~/Content/images/pavlova.jpg" alt="sp-menu" style="height:342px">
                            </div>
                        </div>
                        <div class="item item-type-zoom">
                            <a href="@Url.Action("Index","Recipes")" class="item-hover">
                                <div class="item-info">
									<div class="headline">
										Chocolateice Cream
										<div class="line"></div>
										<div class="dit-line">Learn How To Make The Chocolateice Cream.</div>
									</div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="~/Content/images/chocolateice-cream.jpg" alt="sp-menu" >
                            </div>
                        </div>
                        <div class="item item-type-zoom">
                            <a href="@Url.Action("Index","Recipes")" class="item-hover">
                                <div class="item-info">
									<div class="headline">
										Creamiest Steel Cut Oats
										<div class="line"></div>
										<div class="dit-line">Learn How To Make The Creamiest Steel Cut Oats And Much More.</div>
									</div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="~/Content/images/Creamiest.jpg" alt="sp-menu" style="height:342px">
                            </div>
                        </div>
                        <div class="item item-type-zoom">
                            <a href="@Url.Action("Index","Recipes")" class="item-hover">
                                <div class="item-info">
									<div class="headline">
										   Delicious Pavlova
										<div class="line"></div>
										<div class="dit-line">Learn How To Make The Delicious Pavlova And Much More.</div>
									</div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="~/Content/images/pavlova.jpg" alt="sp-menu" style="height:342px">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end special-box -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end special-menu -->
<!--Starting Subscribe-main-->
<div id="pricing" class="pricing-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="block-title text-center">
                    Subscribe Now
                </h2>
                <p>Want To Enjoy Paid Recipes And Participate In Intersting Contests? Subscribe Us Now</p>
            </div>
            <div class="panel-pricing-in">
                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="~/Content/images/store.png" alt="" />
                            </div>
                            <h3>Monthly Subscriber</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$10</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Paid Recipes</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Participation In Contests</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> One User</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block hvr-underline-from-center" href="@Url.Action("Register","Account",new { name="monthly"})">Subscribe Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="~/Content/images/food.png" alt="" />
                            </div>
                            <h3>Half-Yearly Subscriber</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$50</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Paid Recipes</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Participation In Contests</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> One User</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block hvr-underline-from-center" href="@Url.Action("Register","Account",new { name="half-yearly"})">Subscribe Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="~/Content/images/coffee.png" alt="" />
                            </div>
                            <h3>Yearly Subscriber</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$100</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Paid Recipes</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Participation In Contests</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> One User</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block hvr-underline-from-center" href="@Url.Action("Register","Account",new { name="yearly"})">Subscribe Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end pricing-main -->
