@model model.Tip

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="contact1-pic js-tilt col-lg-offset-1" data-tilt style="position:absolute">
    <br />
    <br />

    <br />
    <br />
    <img src="~/Content/images/gallery_07.jpg" alt="IMG" style="width:800px;height:320px">
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <pre class="block-title col-lg-offset-4" style="background:none;border:none">
         Tips</pre><br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Tips_Id)

    <div class="form-group">
        <div class="col-md-6 col-lg-offset-5">
            @Html.LabelFor(model => model.Tips_Name, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Tips_Name, new { htmlAttributes = new { @class = "input1", placeholder = "Enter a Namwe" } })
            @Html.ValidationMessageFor(model => model.Tips_Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-lg-offset-5">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "input1", placeholder = "Enter Description" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-lg-offset-5">
            @Html.LabelFor(model => model.Label, "Label", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownList("Label", null, htmlAttributes: new { @class = "form-control", style = "border-radius:20px" })
            @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-lg-offset-5">
            @Html.LabelFor(model => model.Posted_by, "Posted_by", htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.DropDownList("Posted_by", null, htmlAttributes: new { @class = "form-control ", style = "border-radius:20px" })
            @Html.ValidationMessageFor(model => model.Posted_by, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-7 col-md-10">
            <input type="submit" value="Save" class="container-contact1-form-btn contact1-form-btn" />
        </div>
    </div>
</div>
}
<br />
<div class="col-lg-1">
    @Html.ActionLink("Back to List", "Index", "", new { @class = "container-contact1-form-btn contact1-form-btn" })
</div>
<br />
<br />
<br />